@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chewy|Expletus+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.coursemain{
    background-image:url('../assets/background1.png') !important;
    background-repeat: no-repeat;
    /* background-position: center center;  */
  /*background-attachment: fixed; */
  background-size: cover; 
    
    height:100vh;
}

.maintext{
    font-family: 'Black Ops One', cursive;
}
.imgBox{
    width:100% !important;
    height: 100%;
}
.container{
    margin:10px auto;
    flex-direction: row;
    flex-wrap: wrap;

}
.container .card{
 position: relative;
 height:250px;
 width:250px;
 box-sizing: border-box;
 display: inline-block;
 justify-content:space-around;
 margin:10px 30px;
 overflow: hidden;
 transform: scale(1);
 transition: transform 0.5s;
}
.container .card:hover .imgBox{
        transform: scale(1.2);
        transition: transform .5s;
        
}
.container .card .imgBox{
    background-color: white;
}
.container .card .content{
    position: absolute;
    height:200px;
    width:200px;
    top:7%;
    left:7%;
    text-align: center;
    background: linear-gradient(to right,#20007E,#E51EB6);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .card:hover .content{
    transform:scaleY(1)
}
.container .card .content .cname{ 
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Chewy', cursive;
}
.container .card .content  .cbutton{ 
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    color: white;
    border: 2px solid white;
    padding:5px 5px;
    background: linear-gradient(to right,#cb2d3e,#ef473a);
    margin-top:5px;
    border-radius: 10%;
    font-family: 'Poppins', sans-serif;
}
.container .card .content  .cbutton button:hover{
    transform:scale(1.14);
}

@media screen and (max-width:500px){
.container .card{
    height:120px;
    width:170px;
    margin:5px auto;
}
.container .card .content{
    height:80px;
    width:120px;
}
.container .card .content  .cbutton{
  display: none;
}
.container .card .content .cname{
    font-size: 20px;
}
.maintext{
    font-size: 40px;
    
}

}