@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
.random{
    background: linear-gradient(to right,#FF0099,#493240);
    height:100vh;
    text-align: center;
  }

  .teamstext{
    font-family: 'Black Ops One', cursive;
    font-size: 5em;  
    background-color: white;
}
.teamstext span{
    color: tomato;
}
.teamcard1{
  margin-top: 3%;
  height: 450px;
  width:300px;
  background-color: white;
  border-radius: 2%;
}
.teamcard1:nth-child(1){
  border:5px solid #AE1438;
}
.teamcard1:nth-child(2){
  border:5px solid #6a3093;
}
.teamcard1:nth-child(3){
  border:5px solid #E5B143;
}
.teamcard1:nth-child(4){
  border:5px solid #0ABDE3;
}
.teamcard1:nth-child(3):hover{
  background-color: #E5B143;
  transition:ease-in-out 0.5s;
  color:white;
  transform: translate(-10px,-10px);

}
.teamcard1:nth-child(4):hover{
  background-color: #0ABDE3;
  transition:ease-in-out 0.5s;
  color: white;
  transform: translate(-10px,-10px);

}
.teamcard1:nth-child(1):hover{
  background-color: #AE1438;
  transition:ease-in-out 0.5s;
  color: white;
  transform: translate(-10px,-10px);
}
.teamcard1:nth-child(2):hover{
  background-color:#6a3093;
  transition:linear 0.5s;
  color: white;
  transform: translate(-10px,-10px);

}
