.mainclass{
  background-image:url('./assets/home-bg-1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  background-size: cover;
  z-index: 0;
  height:100vh;
}
